<!DOCTYPE html>
<html>

<head>
    <title>Car images</title>
    <style>
        body {
            font-family: sans-serif;
        }
        
        h1 {
            text-align: center;
            text-size-adjust: 50px;
        }
        
        .car-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .car-list-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            text-align: center;
        }
        
        .car-list-item img {
            width: 700px;
            height: 350px;
            display: block;
            margin: 0 auto;
        }
        
        .car-list-item .car-info {
            margin: 10px 0;
        }
        
        .car-list-item .car-info h3 {
            margin: 0;
        }
        
        .car-list-item .car-info p {
            margin: 0;
            font-size: 25px;
        }
    </style>
</head>

<body>
    <ul>
        <li><a href="C:\Users\saisa\OneDrive\Desktop\car\templates\index.html">Home</a></li>
        <li><a href="C:\Users\saisa\OneDrive\Desktop\car\templates\carsservice.html"> service</a></li>

    </ul>
    </nav>
    <h1>Car Dealership Website</h1>

    <ul class="car-list">
        <li class="car-list-item">
            <img src="C:\Users\saisa\OneDrive\Desktop\car\templates\cars images.html" alt="Car 1">
            <div class="car-info">
                <h1>Car 1</h1>
                <p>COMPANY:MARUTHI </p>
                <p>Model:FRONX </p>
                <p> launched year: 2023</p>
                <P>PRICE:Rs.7.47lakh to Rs.13.14lakh</P>
                <p>mileage:16km city/18km highway</p>
            </div>
        </li>

        <li class="car-list-item">
            <img src="C:\Users\saisa\OneDrive\Desktop\car\static\accord car image.jpeg" alt="Car 2">
            <div class="car-info">
                <h1>Car 2</h1>
                <p>company: </p>
                <p>Model: Accord</p>
                <p> launched Year: 2023</p>
                <p>mileage:18.54km city/23.1km highway</p>
            </div>
        </li>

        <li class="car-list-item">
            <img src="C:\Users\saisa\OneDrive\Desktop\car\static\exter car image.jpeg" alt="Car 3">
            <div class="car-info">
                <h1>Car 3</h1>
                <p>company: hyundi</p>
                <p>Model: exter</p>
                <p> launched Year: 2023</p>
                <P>PRICE:Rs.6lakh to Rs.10.10lakh</P>
                <p>mileage:19.2km city/27.1km highway</p>
                <ul class="car-list">
                    <li class="car-list-item">
                        <img src="C:\Users\saisa\OneDrive\Desktop\car\static\BALENO CAR IMAGE.jpg" alt="Car 4">
                        <div class="car-info">
                            <h1>Car 4</h1>
                            <p>COMPANY:MARUTHI </p>
                            <p>Model:baleno</p>
                            <p> launched year: 2022</p>
                            <P>PRICE:Rs.7.47lakh to Rs.13.14lakh</P>
                            <p>mileage:19.38km city/27.9km highway</p>
                        </div>
                        <ul class="car-list">
                            <li class="car-list-item">
                                <img src="C:\Users\saisa\OneDrive\Desktop\car\static\GRAND VITARA CAR IMAGE.jpg" alt="Car 5">
                                <div class="car-info">
                                    <h1>Car 5</h1>
                                    <p>COMPANY:MARUTHI </p>
                                    <p>Model:Grand vitara</p>
                                    <p> launched year: 2022</p>
                                    <P>PRICE:Rs.10lakh to Rs.20lakh</P>
                                    <p>mileage:19.00km city/28.1km highway</p>
                                </div>
                                <img src="C:\Users\saisa\OneDrive\Desktop\car\static\HYRYDER CAR IMAGES.jpg" alt="Car 6">
                                <div class="car-info">
                                    <h1>Car 6</h1>
                                    <p>COMPANY:Toyota</p>
                                    <p>Model:Hyryder</p>
                                    <p> launched year: 2022</p>
                                    <P>PRICE:Rs.7.47lakh to Rs.13.14lakh</P>
                                    <p>mileage:17.00km city/26.1km highway</p>
                                </div>
                                <img src="C:\Users\saisa\OneDrive\Desktop\car\static\WhatsApp Image 2023-09-21 at 18.03.38.jpg" alt="Car 7">
                                <div class="car-info">
                                    <h1>Car 7</h1>
                                    <p>COMPANY:MARUTHI suzuki </p>
                                    <p>Model:brezza</p>
                                    <p> launched year: 2022</p>
                                    <P>PRICE:Rs.7.99lakh to Rs.13.96lakh</P>
                                    <p>mileage:19.4km city/28.1km highway</p>
                                </div>
                                <img src="C:\Users\gayat\OneDrive\Desktop\project@238 (2)\static\camry car image.jpeg" alt="Car 8">
                                <div class="car-info">
                                    <h1>Car 8</h1>
                                    <p>COMPANY:Toyota </p>
                                    <p>Model:camry</p>
                                    <p> launched year: 2021</p>
                                    <P>PRICE:Rs.46.9lakhs</P>
                                    <p>mileage:10.14km city/14.4km highway</p>
                                    <img src="C:\Users\saisa\OneDrive\Desktop\car\static\fortuner image.jpeg" alt="Car 9">
                                    <div class="car-info">
                                        <h1>Car 9</h1>
                                        <p>COMPANY:Toyota </p>
                                        <p>Model:fortuner</p>
                                        <p> launched year: 2022</p>
                                        <P>PRICE:Rs.32.9lakhs to 50.02lakhs</P>
                                        <p>mileage:11.00km city/13.1km highway</p>
                                    </div>
                                    <img src="C:\Users\saisa\OneDrive\Desktop\car\static\tata tiaga EV.webp" alt="Car 10">
                                    <div class="car-info">
                                        <h1>Car 10</h1>
                                        <p>COMPANY:Tata </p>
                                        <p>Model:Tiaga EV</p>
                                        <p> launched year: 2022</p>
                                        <P>PRICE:Rs.8.49lakhs</P>
                                        <p>mileage:250km in single charge</p>
                                    </div>
                                    <img src="C:\Users\saisa\OneDrive\Desktop\car\static\NEXON EV CAR IMAGE.jpeg" alt="Car 11">
                                    <div class="car-info">
                                        <h1>Car 11</h1>
                                        <p>COMPANY:Tata </p>
                                        <p>Model:nexon EV max</p>
                                        <p> launched year: 2022</p>
                                        <P>PRICE:Rs.7.99lakh to Rs.13.96lakh</P>
                                        <!DOCTYPE html>


                                        <img src="C:\Users\saisa\OneDrive\Desktop\car\static\NEXON EV CAR IMAGE.jpeg" alt="Car 11">
                                        <div class="car-info">
                                            <h1>Car 11</h1>
                                            <p>COMPANY:Tata </p>
                                            <p>Model:nexon EV max</p>
                                            <p> launched year: 2022</p>
                                            <P>PRICE:Rs.7.99lakh to Rs.13.96lakh</P>
                                            <p>mileage:453km in single charge</p>
                                        </div>
                                        <img src="C:\Users\saisa\OneDrive\Desktop\car\static\tucson car image.jpg" alt="Car 12">
                                        <div class="car-info">
                                            <h1>Car 12</h1>
                                            <p>COMPANY:Hyundi </p>
                                            <p>Model:Tucson</p>
                                            <p> launched year: 2022</p>
                                            <P>PRICE:Rs.40lakhs</P>
                                            <p>mileage:16.05km city/19.1km highway</p>
                                        </div>
                                        <img src="C:\Users\gayat\OneDrive\Desktop\project@238 (2)\static\scorpio car image.jpg" alt="Car 13">
                                        <div class="car-info">
                                            <h1>Car 13</h1>
                                            <p>COMPANY:Mahindra</p>
                                            <p>Model:Scorpio</p>
                                            <p> launched year: 2022</p>
                                            <P>PRICE:Rs.</P>
                                            <p>mileage:15.00km city/18.15km highway</p>

                                        </div>
                                        <img src="C:\Users\saisa\OneDrive\Desktop\car\static\harrier car image.jpeg" alt="Car 14">
                                        <div class="car-info">
                                            <h1>Car 14</h1>
                                            <p>COMPANY:Tata </p>
                                            <p>Model:Harrier</p>
                                            <p> launched year: 2023</p>
                                            <P>PRICE:Rs.22lakhs to Rs.25lakhs</P>
                                            <p>mileage:15.04km city/18.50km highway</p>
                                        </div>
                                        <img src="C:\Users\saisa\OneDrive\Desktop\car\static\bolero neo plus.jpeg" alt="Car 15">
                                        <div class="car-info">
                                            <h1>Car 15</h1>
                                            <p>COMPANY:Mahindra </p>
                                            <p>Model:Bolero neo plus</p>
                                            <p> launched year: 2023</p>
                                            <P>PRICE:Rs.10lakhs to Rs.20lakhs</P>
                                            <p>mileage:17.00km city/29.1km highway</p>
                                        </div>
                                        <img src="C:\Users\saisa\OneDrive\Desktop\car\static\magnite car image.jpeg" alt="Car 16">
                                        <div class="car-info">
                                            <h1>Car 16</h1>
                                            <p>COMPANY:Nissan</p>
                                            <p>Model:magnite </p>
                                            <p> launched year: 2023</p>
                                            <P>PRICE:Rs.6.00lakhs to 10.86lakhs</P>
                                            <p>mileage:17.00km city/20.1km highway</p>
                                        </div>
                                        <img src="C:\Users\saisa\OneDrive\Desktop\car\static\jeep wrangler image.jpeg" alt="Car 17">
                                        <div class="car-info">
                                            <h1>Car 17</h1>
                                            <p>COMPANY:jeep</p>
                                            <p>Model:wrangler</p>
                                            <p> launched year: 2022</p>
                                            <P>PRICE:Rs.60.65.lakh to Rs.64.65lakh</P>
                                            <p>mileage:12.00km city/15.1km highway</p>
                                        </div>
                                        <img src="C:\Users\saisa\OneDrive\Desktop\car\static\porsche car image.jpeg" alt="Car 18">
                                        <div class="car-info">
                                            <h1>Car 18</h1>
                                            <p>COMPANY:Porscho </p>
                                            <p>Model:911</p>
                                            <p> launched year: 2023</p>
                                            <P>PRICE:Rs.1.86-4.26cr</P>
                                            <p>mileage:17.00km city/19.1km highway</p>
                                        </div>
                                        <nav>

                        </ul>
</body>

</html>